/*********************
*** Global styling *** 
*********************/

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, 
html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f0efe9;
	font: 100%/1.4 'Verdana', Arial, sans-serif;	
	color: #3e434f;
}

main, 
section,
header {
	display: block;
}

/*
	Font Styling
*/
h1 {
	font-size: 1.3em;
	padding: 1em;
}

h2 {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

/* 
	Header Styling
*/
header {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	text-align: center;
}

main {
	max-width: 40em;
	margin: 0 auto;
	padding: 1.2em;
	position: relative;
}

/*
	Section 
*/
.buttons {
	margin-bottom: 2em;
}

.line-chart {
	min-height: 15em;
}

.-tx-center {
	text-align: center;
}

/*
	Switch styling
*/
.switch {
	margin: 0 auto;
	padding-bottom: 1em;
	width: 7.5em;
	position: relative;
}

	.switch__toggle {
		position: absolute;
    	margin-left: -9999px;
    	visibility: hidden;
	}

	.switch__toggle + label {
		background-color: #dddddd;
    	border-radius: 3.75em;
		height: 3.75em;
		padding: 2px;
    	width: 100%;

    	display: block;
 	 	position: relative;
  		cursor: pointer;
  		outline: none;
  		user-select: none;
	}

	.switch__toggle + label:before,
	.switch__toggle + label:after {
	  display: block;
	  position: absolute;
	  top: 1px;
	  left: 1px;
	  bottom: 1px;
	  content: "";
	}

	.switch__toggle + label:before {
	  right: 1px;
	  background-color: #f1f1f1;
	  border-radius: 60px;
	  transition: background 0.4s;
	}

	.switch__toggle + label:after {
	  width: 58px;
	  background-color: #fff;
	  border-radius: 100%;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	  transition: margin 0.4s;
	}

	.switch__toggle:checked + label:before {
	  background-color: #8ce196;
	}

	.switch__toggle:checked + label:after {
	  margin-left: 60px;
	}

/* 
	Chart styling 
*/
#chart {
	visibility: visible;
	opacity: 1;

	transition: all .2s;
}

#chart.is-hidden {
	opacity: 0;
	visibility: hidden;
}

rect{
  fill: #9999ff;
}

#chart svg {
  padding: 20px;
}

#chart text {
  fill: grey;
  font-size: 10px;
  text-anchor: end; 
}

#chart .tick line {
  z-index: -99;
}

circle {
  fill: white;
  position: relative;
  stroke: black;
  stroke-width: 3px;
  transition: all .3s;
  cursor: pointer;
  z-index: 10;
  transform-origin: 50% 50%;
  transform: scale(1);
}

circle.active {
  transform: scale(1.2);
}

circle:hover {
  stroke-width: 5px;
}

/* Color circles */
.line-1-cirkel {
  stroke: #6cc489;
}

.axis path, .axis line {
  fill: none;
  stroke : #999997;
}

/* Tooltip styling */
#tooltip {
  background: white;
  color: #b7b7b5;
  display: block;
  font-size: 12px;
  padding: 10px 15px;
}

#tooltip:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#tooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 10px;
  margin-top: -10px;
}

.loader {
    animation: rotation 0.6s infinite linear;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
    border-top: 6px solid #15a4fa;
    border-radius: 50%;
    cursor: wait;
    display: inline-block;
    height: 3.75em;
    width: 3.75em;
    z-index: 10;
    position: absolute;

    left: calc(50% - 1.875em);
    top: calc(50% - 1.875em);

    opacity: 0;
    transition: all .2s ease-out;
    visibility: hidden;

}

.loader.is-visible {
    opacity: 1;
    visibility: visible;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}