/*********************
*** Global styling ***
*********************/

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

body {
	background-color: white;
	font: 100%/1.4 'Verdana', Arial, sans-serif;
	color: white;
}

main,
section,
header {
	display: block;
}

/*
	Font Styling
*/
h1 {
	font-size: 1.3em;
	padding: 1em;
}

h2 {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

/*
	Header Styling
*/
header {

}

main {
	position: relative;
}

/*
	Section
*/
.buttons {
	margin-bottom: 2em;
}

.line-chart {
	min-height: 15em;
}

.-tx-center {
	text-align: center;
}

/*
	Switch styling
*/
.switch {
	margin: 0 auto;
	padding-bottom: 1em;
	width: 7.5em;
	position: relative;
}

	.switch__toggle {
		position: absolute;
    	margin-left: -9999px;
    	visibility: hidden;
	}

	.switch__toggle + label {
		background-color: #dddddd;
    	border-radius: 3.75em;
		height: 3.75em;
		padding: 2px;
    	width: 100%;

    	display: block;
 	 	position: relative;
  		cursor: pointer;
  		outline: none;
  		user-select: none;
	}

	.switch__toggle + label:before,
	.switch__toggle + label:after {
	  display: block;
	  position: absolute;
	  top: 1px;
	  left: 1px;
	  bottom: 1px;
	  content: "";
	}

	.switch__toggle + label:before {
	  right: 1px;
	  background-color: #f1f1f1;
	  border-radius: 60px;
	  transition: background 0.4s;
	}

	.switch__toggle + label:after {
	  width: 58px;
	  background-color: #fff;
	  border-radius: 100%;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	  transition: margin 0.4s;
	}

	.switch__toggle:checked + label:before {
	  background-color: #8ce196;
	}

	.switch__toggle:checked + label:after {
	  margin-left: 60px;
	}

/*
	Dashboard
*/
.dashboard {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -9999;
}

	.dashboard__weather {
		width: 100%;
		height: 100%;
	}

	.dashboard__weather--cold {
		background: #00d2ff; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.dashboard__weather--summer {
		background: #ffb347; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.dashboard__temprature {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.dashboard__temprature p {
		font-size: 5em;
		position: relative;
	}

	.dashboard__temprature img {
		top: -15em;
		left: -6em;
		position: absolute;
		width: 20em;
	}

	.dashboard__temprature p span {
		position: absolute;
		right: -1em;
		top: 0;
		font-size: 0.3em;
	}

	.dashboard__clock,
	.dashboard__humidity {
		position: absolute;
		float: left;
		right: 20px;
		top: 20px;
	}

	.container-humit {
		position: absolute;
		top: 50px;
		left: 90px;
	}

	.dashboard__humidity {
		top: -20px;
		left: -20px;
		width: 100px;
	}

	.dashboard__humidity img {
		width: 8em;
	}

	.dashboard__clock img {
		padding-right: 10px;
	}

	.container-clock {
		float: right;
	}

	.dashboard__clock {
		text-align: left;
	}

.loader {
    animation: rotation 0.6s infinite linear;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
    border-top: 6px solid tomato;
    border-radius: 50%;
    cursor: wait;
    display: inline-block;
    height: 3.75em;
    width: 3.75em;
    z-index: 10;
    position: absolute;

    left: calc(50% - 1.875em);
    top: calc(50% - 1.875em);

    opacity: 0;
    transition: all .2s ease-out;
    visibility: hidden;

}

.loader.is-visible {
    opacity: 1;
    visibility: visible;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
