/* @author : Dylan Vens */

/* Begin reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { text-decoration: none;}

/*
  **********************
      Global styling
  **********************
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; width: 100%; height: 100%;}

body {
  position: relative;
  left: 0;
  font: 100% 'Open Sans', sans-serif;
  color: #7d7d7d;
  background: #2b3238;
}

main {
  background: white;
}

strong {
  font-weight: 600;
  font-style: italic;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 68.75em;
  margin: 0 auto;
}

/*
  **********************
      Font styling
  **********************
*/
h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

p  {
  font-weight: 300;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

/*
  **********************
       Custom links
  **********************
*/

.link {
  color: #3dbc91;
  font-weight: 600;
}

.button {
  position: absolute;
  bottom: 5em;
  left: 50%;
  margin-left: -5.21875em;
  display: block;
  color: white;
  padding: 1.3em 2em;
  border: 2px solid white;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

/*
  **********************
      Section styling
  **********************
*/

section {
  text-align: center;
  color: white;
}

  section > h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.5em 0;
  }

.project-content {
  background: white;
}

  .project-content img {
    margin-top: 2em;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 0px 0px 8px rgba(81, 81, 81, .2);
  }

  .project-content section:nth-of-type(2n){
    background: #2b3238;
    color: white;
  }

  .project-content section:nth-of-type(2n) .social li a {
      color: white;
  }

  .project-content section:nth-of-type(2n) .social li a:hover {
      color: #3dbc91;
  }

  .project-content .container {
    max-width: 65em;
  }

  .project-content .content {
    max-width: 50em;
    margin: 0 auto;
  }

  .project-content section {
    color: #2b3238;
    text-align: left;
    padding: 4em 0;
  }

  .project-content p {
    font-weight: 400;
    line-height: 2;
    margin-bottom: 1.5em;
  }

  .project-content img {
    width: 100%;
  }

  .project-content h1 {
    font-size: 2.3em;
    padding: 0 0 .3em 0;
    text-transform: uppercase;
    font-weight: 700;
  }

/* error div */
#error.active {
  display: block;
}

  #error {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8em 0;
    color: white;
    display:none;
  }

  #error h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
  }

/*
  **********************
      Portfolio nav
  **********************
*/


/*
  **********************
      Project header
  **********************
*/
.project-header {
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;
  color: white;
  width: 100%;
  padding: 1.6em 3.2em 0em 3.2em;
  height: 10em;
  display: table;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
  .project-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 51, 57, 0.6);
  }

  .project-header:hover .button, .button:hover {
    color: #2b3238;
    background: white;
  }
/*
  **********************
      Main header
  **********************
*/

body > header {
  position: fixed;
  height: 5em;
  width: 100%;
  background: #2b3238;
  padding: 1.6em 1.5em;
  z-index: 2;
}

  .logo h1{
    font: 1.3125em 'Merriweather', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    float: right;
  }

  #menu-trigger {
    height: 100%;
    float: left;
    color: white;
    cursor: pointer;
  }

  #menu-trigger .stripes {
    position: relative;
    float: left;
    margin: 0.125em 2em 0 0;
  }

  .stripes span {
    display: block;
    width: 22px;
    height: 3px;
    background: white;
    position: absolute;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }

  .stripes span:nth-child(1){
    -webkit-transform-origin: 0px 1.5px;
    -moz-transform-origin: 0px 1.5px;
    transform-origin: 0px 1.5px;
    top: 0px;
  }

  .stripes span:nth-child(2){
    top: 8px;
    opacity: 1;
  }

  .stripes span:nth-child(3){
    -webkit-transform-origin: 0px 1.5px;
    -moz-transform-origin: 0px 1.5px;
    transform-origin: 0px 1.5px;
    top: 16px;
  }

  .menu-open .stripes span:nth-child(1), .active .stripes span:nth-child(1){
    -webkit-transform: translateY(-1px) rotate(45deg);
    -moz-transform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
  }

  .menu-open .stripes span:nth-child(2), .active .stripes span:nth-child(2) {
    opacity: 0;
  }

  .menu-open .stripes span:nth-child(3), .active .stripes span:nth-child(3){
    -webkit-transform: translateY(-1px) rotate(-45deg);
    -moz-transform: translateY(-1px) rotate(-45deg);
    transform: translateY(-1px) rotate(-45deg);
  }

  .menu-text {
    margin-left: 1.2em;
    display: none;
    position: relative;
    float: left;
    line-height: initial;
  }

  .menu-text p, .menu-text span {
    float: left;
    text-transform: uppercase;
    font-weight: 600;
  }

  .menu-text:before {
    content: " ";
    position: absolute;
    width: 0.125em;
    height: 1em;
    top: 0.1875em;
    left: -1.0625em;
    background: white;
  }

  .menu-text span {
    position: relative;
    display: block;
    top: .2em;
    font-size: .85em;
    font-weight: 400;
    color: #a5a5a7;
    padding-left: 1.5em;
  }

  .menu-text span:before {
    content: "/";
    position: absolute;
    left: .6em;
  }

/*
  **********************
      Page header
  **********************
*/
main > header {
  display: table;
  width: 100%;
  background: #2b3238;
  color: white;
  padding: 5em 1.5em;
}

  main > header .container {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }

  main > header h1 {
    font-size: 2.2em;
    margin-bottom: .5em;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
  }

  main > header p {
    font-size: 1.3em;
    margin: 0;
  }

/*
  **********************
      Nav styling
  **********************
*/

/* menu-transitions */
body, body > header, footer, main {
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
  -moz-transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
  transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
}

.menu-open {
  position: relative;
  overflow: hidden;
}

.menu-open nav {
  opacity: 1;
  visibility: visible;
}

body > nav {
  position: fixed;
  opacity: 0;
  visibility: hidden;

  text-align: center;
  background: #272D32;
  width: 100%;
  top: 5em;
  left: 0;

  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 10;
}

    body > nav ul {
      text-align: left;
    }

    body > nav ul li {
      margin: 0;
      float: none;
      cursor: pointer;
    }

    body > nav ul li a {
      display: block;
      border-bottom: 1px solid #3f474e;
      margin: 0 1.25em;
      padding: 1.5625em 0.375em;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
    }

    body > nav ul li:hover, nav ul li.active, nav ul li a:hover {
      background-color: #26292b;
      color: white;
    }

    body > nav ul li.active {
      background-color: #26292b;
    }

/*
  **********************
    Portfolio section
  **********************
*/

#portfolio {
  background: #3dbc91;
}

  #portfolio article {
    position: relative;
    float: left;
    width: 100%;
    height: 15em;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  #portfolio article img {
    min-height: 100%;
  }

  #portfolio article div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #portfolio article div:before {
    position: absolute;
    content: " ";
    top:  1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    background: #2b3339;
  }

  #portfolio article div, #portfolio article div:before {
    opacity: 0;

    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }

  #portfolio div span {
    position: relative;
    display: block;
    top: 50%;
    margin-top: -1.46875em;
  }

  #portfolio a {
    display: block;
    color: white;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #portfolio article h1 {
    font-size: 1.3em;
    font-weight: 400;
  }

  #portfolio article p {
    font-size: .9em;
  }

/*
  **********************
    About styling
  **********************
*/
#about {
  background: #2b3339;
  padding-bottom: 2em;
}

  #about .container {
    max-width: 55em;
  }

  #about .container p{
    text-align: left;
    line-height: 1.8;
    margin-bottom: 1.8em;
  }

  #about img {
    margin: .7em;
    width: 10em;
  }

  .social li {
      margin-bottom: 0.5em;
  }

  .social li:before {
    content: "/";
    margin-left: .6em;
    font-weight: bold;
    color: #3dbc91;
  }

  .social li a {
    color: #515151;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: .8em;
  }

  .social li a:hover {
    color: #3dbc91;
  }

/*
  **********************
    Footer styling
  **********************
*/
footer {
  background: #f2f2f2;
  padding-bottom: 2em;
}

  footer h1 {
    color: #2b3238;
  }

  footer p {
    color: #858585;
    line-height: 1.8;
    margin-bottom: 1em;
  }

  footer .social li a {
    color: #515151;
  }

/*
  **********************
      Grid styling
  **********************
*/
.row:before, .row:after, .container:before, .container:after, .cl:after, .cl:before { content: " "; display: table; }
.row:after, .container:after, .cl:after { clear: both; }

  .row {
    margin-left: -1em;
    margin-right: -1em;
  }

  .col {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.5em;
  }

  .col.full { width: 100%; }
  .col.half { width: 100%; }
  .col.fourth { width: 100%; }
  .col.third { width: 100%; }
  .col.one { width: 100%; }

@media only screen and (min-width : 35em){

  /* header styling */
  main > header h1 {
    font-size: 4em;
    margin-bottom: .3em;
  }

  /* portfolio items */
  #portfolio article {
    height: 18em;
  }

  #portfolio article a:hover div, #portfolio article div:before  {
    opacity: 1;
  }

  /* menu */
  .menu-text {
    height: auto;
    display: block;
  }

  body > header, main, footer {
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .menu-open > header, .menu-open > footer, .menu-open main {
    -webkit-transform: translate3d(275px, 0, 0);
    -o-transform: translate3d(275px, 0, 0);
    transform: translate3d(275px, 0, 0);
  }

  .menu-open > nav {
    -webkit-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

  body > nav {
    position: fixed;
    opacity: 1;
    visibility: visible;
    width: 275px;
    height: 100%;
    top: 0px;

    -webkit-transform: translate3d(-275px, 0, 0);
    -o-transform: translate3d(-275px, 0, 0);
    transform: translate3d(-275px, 0, 0);

    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
    -moz-transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
    transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
  }

      body > nav ul {
        margin-top: 3.125em;
      }

}

@media only screen and (min-width : 48em){
  .project-content h1 {
    font-size: 3em;
    padding: 0 0 .3em 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  #portfolio article {
    width: 50%;
  }

  .button {
    left: 1.6em;
    bottom: 1.6em;
    margin-left: 0;
  }

}

@media only screen and (min-width: 60em){
    main > header h1{
      font-size: 5em;
      margin-bottom: .2em;
    }

    main > header p{
      font-size: 1.6em;
    }

    main > header, body > header {
      padding: 1.6em 3.2em 0em 3.2em;
    }

    .button {
      left: 3.2em;
      bottom: 3.2em;
    }

    .project-header {
      height: 20em;
    }

    /* grid styling */
    .col.full { width: 100%; }
    .col.half { width: 50%; }
    .col.fourth { width: 75%; }
    .col.third { width: 33.333%; }
    .col.one { width: 25%; }
}

@media only screen and (min-width: 75em){
  #portfolio article {
    width: 33.333%;
    height: 19em;
  }
}

@media only screen  and (min-width: 85em){
  body {
    font-size: 102%;
  }
}

@media only screen and (min-width: 100em){
  body {
    font-size: 106%;
  }
}

@media only screen and (min-width: 112.5em){
  body {
    font-size: 110%;
  }
}
