/*********************
*** Global styling ***
*********************/

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f0efe9;
	font: 100%/1.4 'Open Sans', Arial, sans-serif;
	color: #3e434f;
}

main,
section,
header {
	display: block;
}

.container {
  width: 90%;
  max-width: 68.75em;
  margin: 0 auto;
}

/* transitions */
body, header {
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
  -moz-transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
  transition: all 0.3s cubic-bezier(0.712, 0.0376, 0.392, 1);
}

/*
  **********************
      Font styling
  **********************
*/
h1, h2, h3, h4, h5 {
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 2.6875em;
}

h2 {
  font-size: 1.25em;
  color: #535353;
  font-weight: bold;
}

h3 {
  font-size: 1.125em;
  color: #535353;
  font-weight: bold;
}

p {
  line-height: 26px;
  font-size: 0.9375em;
}

strong { font-weight: 700; }

/* custom titles */
.hero {
  position: relative;
  font-size: 3.125em;
  color: white;
}

.page-title {
  color: white;
  margin-bottom: 45px;
  position: relative;
}

  .page-title:after {
    position: absolute;
    content: " ";
    width: 40px;
    height: 2px;
    left: 50%;
    margin-left: -20px;
    bottom: -15px;
    background: #3dbc91;
  }

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  padding: 10px 15px;
  background: #3dbc91;
  color: white;
}

  .section-title:after {
    position: absolute;
    content: " ";
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    width: 10px;
    height: 5px;
    background: url("../img/arrowdown.png") no-repeat;
  }

.icon {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

  .medium {
    width: 140px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.6);
  }

  /*
    **********************
        Icon styling
    **********************
  */
  .menu-icon {
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    margin: 10px 10px 8px 10px;
    background: url("../img/icons/icons.svg");
    -webkit-background-position: 0px 0px;
    -moz-background-position: 0px 0px;
    background-position: 0px 0px;

    -webkit-transition: -webkit-transform .2s ease-out 0s;
    -moz-transition: -moz-transform .2s ease-out 0s;
    transition: transform .2s ease-out 0s;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

    .menu-open .menu-icon {
      -webkit-background-position: 0px -24px;
      -moz-background-position: 0px -24px;
      background-position: 0px -24px;

      -webkit-transition: -webkit-transform .2s ease-out 0s;
      -moz-transition: -moz-transform .2s ease-out 0s;
      transition: transform .2s ease-out 0s;

      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }

  /*
    **********************
        Main header
    **********************
  */
  .main-header {
    position: fixed;
    display: block;
    left: -205px;
    text-align: center;
    z-index: 9999;
    background: #2b3339;
    width: 275px;
    height: 100%;
    float: left;
  }
    /* main header trigger styling */
    #menu-trigger {
      position: relative;
      margin: 16px 16px 0px 0px;
      display: block;
      float: right;
      border-bottom: 3px solid #319271;
      background: #3dbc91;

      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

    #menu-trigger:hover {
      background: #3ab189;
    }

    #menu-trigger span {
      display: block;
      width: 20px;
      height: 2px;
      margin-bottom: 5px;
      background: white;
    }

    .menu-open {
      left: 205px;
    }

    .menu-open header {
      left: 0;
    }

    .menu-open nav, .menu-open .social-nav, .menu-open .logo {
      opacity: 1;
      visibility: visible;
    }

    /* Menu logo styling */
    .logo {
      display: block;
      margin: 0 17px;
      padding-bottom: 30px;
      padding-top: 80px;
      border-bottom: 1px solid #3f474e;
      cursor: pointer;
    }

    /* Menu face icon styling */
    .logo img:nth-child(1) {
      width: 50%;
      border: 6px solid #26292b;
      margin-bottom: 15px;

      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
    }

  /*
    **********************
          Side menu
    **********************
  */
    nav, .social-nav, .logo {
      opacity: 0;
      visibility: hidden;

      transition: all 0.3s;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
    }

      nav ul {
        margin: 0px 0px 30px 0px;
        text-align: left;
      }

      nav ul li {
        margin: 0;
        float: none;
        cursor: pointer;
      }

      nav ul li a {
        display: block;
        border-bottom: 1px solid #3f474e;
        margin: 0 17px;
        padding: 25px 6px;
        font-weight: normal;
        color: white;
        font-size: 0.9375em;
      }

      nav ul li:hover, nav ul li.active, nav ul li a:hover {
        background-color: #26292b;
        color: white;
      }

      nav ul li.active {
        background-color: #26292b;
      }

  /* social links */
  .social-nav {
    margin: 0;
    bottom: 20px;
    margin-left: -61px;
    left: 50%;
    position: absolute;
    text-align: center;
  }

    .social-nav li {
      display: inline-block;
    }

    .social-nav li a {
      display: block;
      border: none;
      font-size: 1.3125em;
      margin: 0;
      padding: 0;
    }

    .social-nav li a i {
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
    }

    nav .social-nav li a:hover, nav .social-nav li:hover  {
      background-color: transparent;
    }

    .social-nav li.copy {
      display: block;
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 11px;
      line-height: 18px;
      color: white;
    }

    /* social hover */
    .tw:hover i { color: #4099FF; }
    .fb:hover i { color: #3B5998; }
    .inst:hover i { color: #517fa4; }
  /*
    **********************
        Portfolio Nav
    **********************
  */
  .nav-portfolio {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 90;
  }

    .nav-portfolio ul {
      margin: 0;
      padding: 0;
    }

    .nav-portfolio ul li a {
      position: relative;
      display: block;
      width: 60px;
      height: 60px;
      background: #2b3339;
      margin-bottom: 1px;

      transition: background 0.3s ease-in;
      -webkit-transition: background 0.3s ease-in;
      -moz-transition: background 0.3s ease-in;
    }

    .nav-portfolio ul li a:hover {
      background: #3dbc91;
    }

    .nav-portfolio ul li a i {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1em;
      color: white;
    }

    .nav-portfolio ul .back i { font-size: 1.25em; margin: -10px 0px 0px -6px; }
    .nav-portfolio ul .prev i { margin: -5px 0px 0px -6px; }
    .nav-portfolio ul .next i { margin: -6px 0px 0px -5px; }

/*
  **********************
      Main content
  **********************
*/
main {
  padding-left: 70px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1.2em;
  position: relative;
}

/*
	Header Styling
*/
header {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	text-align: center;
}


/*
	Section
*/
.buttons {
	margin-bottom: 2em;
}

.line-chart {
	min-height: 15em;
}

.-tx-center {
	text-align: center;
}

/*
	Switch styling
*/
.switch {
	margin: 0 auto;
	padding-bottom: 1em;
	width: 7.5em;
	position: relative;
}

	.switch__toggle {
		position: absolute;
    	margin-left: -9999px;
    	visibility: hidden;
	}

	.switch__toggle + label {
		background-color: #dddddd;
    	border-radius: 3.75em;
		height: 3.75em;
		padding: 2px;
    	width: 100%;

    	display: block;
 	 	position: relative;
  		cursor: pointer;
  		outline: none;
  		user-select: none;
	}

	.switch__toggle + label:before,
	.switch__toggle + label:after {
	  display: block;
	  position: absolute;
	  top: 1px;
	  left: 1px;
	  bottom: 1px;
	  content: "";
	}

	.switch__toggle + label:before {
	  right: 1px;
	  background-color: #f1f1f1;
	  border-radius: 60px;
	  transition: background 0.4s;
	}

	.switch__toggle + label:after {
	  width: 58px;
	  background-color: #fff;
	  border-radius: 100%;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	  transition: margin 0.4s;
	}

	.switch__toggle:checked + label:before {
	  background-color: #8ce196;
	}

	.switch__toggle:checked + label:after {
	  margin-left: 60px;
	}

/*
	Chart styling
*/
#chart {
  margin-top: 1.3em;
	visibility: visible;
	opacity: 1;

	transition: all .2s;
}

#chart.is-hidden {
	opacity: 0;
	visibility: hidden;
}

rect{
  fill: #9999ff;
}

#chart svg {
  padding: 20px;
}

#chart text {
  fill: grey;
  font-size: 10px;
  text-anchor: end;
}

#chart .tick line {
  z-index: -99;
}

circle {
  fill: white;
  position: relative;
  stroke: black;
  stroke-width: 3px;
  transition: all .3s;
  cursor: pointer;
  z-index: 10;
  transform-origin: 50% 50%;
  transform: scale(1);
}

circle.active {
  transform: scale(1.2);
}

circle:hover {
  stroke-width: 5px;
}

/* Color circles */
.line-1-cirkel {
  stroke: #6cc489;
}

.axis path, .axis line {
  fill: none;
  stroke : #999997;
}

/* Tooltip styling */
#tooltip {
  background: white;
  color: #b7b7b5;
  display: block;
  font-size: 12px;
  padding: 10px 15px;
}

#tooltip:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#tooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 10px;
  margin-top: -10px;
}

.loader {
    animation: rotation 0.6s infinite linear;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
    border-top: 6px solid #3ab189;
    border-radius: 50%;
    cursor: wait;
    display: inline-block;
    height: 3.75em;
    width: 3.75em;
    z-index: 10;
    position: absolute;

    left: calc(50% - 1.875em);
    top: calc(50% - 1.875em);

    opacity: 0;
    transition: all .2s ease-out;
    visibility: hidden;

}

.loader.is-visible {
    opacity: 1;
    visibility: visible;
}

/* 
  **********************
      Form styling
  **********************
*/

fieldset {
  width: 40em;
  margin: 0 auto;
}

fieldset > label {
  background: #dddddd;
  display: inline-block;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  width: 100%;
}

  label span {
    color: #2B3339;
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  label div {
    background-color: #3dbc91;
    bottom: 2.3em;
    height: 3px;
    left: 1.15em;
    position: absolute;
    width: 0px;

    -webkit-transition: width .3s ease-in;
    -moz-transition: width .3s ease-in;
    transition: width .3s ease-in;
  }

fieldset {
  border: none;
  margin-bottom: 1.875em;
}

  legend {
    background-color: #2B3339;
    color: #eef1f7;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
  }

input[type="text"] {
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
  height: 3.333em;
  font-size: 0.9375em;
  width: 100%;
  margin-bottom: 1.6667em;
  outline: none;
  padding: 0.625em 3.75em 0.625em 1.25em;
  position: relative;
  -webkit-appearance: none;
}

  input[type="text"]:focus ~ div {
    width: calc(100% - 2.2em);
  }


[role="button"] {
  border: none;
  border-radius: 4px;
  background-color: #3dbc91;
  display: inline-block;
  margin-bottom: 1.2em;
  color: white;
  font-size: 1em;
  font-weight: 600;
  padding: 1em 1.2em;
  outline: none;
  cursor: pointer;
  
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1); 

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%; 
  transform-origin: 50% 50%; 

  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

  [role="button"]:hover,
  [role="button"]:focus,
  [role="button"]:active {
    background-color: #319271;
  }

  [role="button"]:focus {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1); 
  }

  [role="button"]:active {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9); 
  }

  .row {
    overflow: auto;
    width: 50em;
    margin: 0 auto;
  }

  .col {
    float: left;
    padding: 1em;
    width: 33.333%;
  }

  .normal {
    background-color: #dddddd;
  }

  .col p {
    color: white;
    font-weight: bold;
    padding: 1em;
  }

  .status--sit {
    background-color: #3dbc91;
  }

  .status--pause {
    background-color: #E8AA0C;
  }

  .status--warning {
    background-color: #FF0000;
  }

  .status--done {
    background-color: #2B3339;
  }

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
